hr {color:sienna;}
body {background-color: grey;}
div {background-color: grey;}

h3 {font-family: Georgia, serif;}

.center { 
	margin-left: auto;
	margin-right: auto;
    margin-top: 3px;
   	margin-bottom: 3px;
    text-align: center;
}

#bar {
	background: rgb(54,25,25);
	background: rgba(54,25,25, 0.5);
}